@charset "utf-8";

/* 共通設定 */

/* base  */
body {
  max-width: 1440px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

img {
  vertical-align: bottom;
}
/* layout */

.layout_wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

.sec-title {
  text-align: center;
}

/* 各種フォントスタイル設定
余白位置などは各セクションで指定 */

.layout_logo-en {
  color: #333333;
  font-size: 36px;
  font-family: "Barlow Condensed", serif;
  line-height: 100%;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-style: normal;
}

.layout_logo-en-red {
  color: #969696;
}

.layout_big-title-en {
  font-family: "Barlow Condensed", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 180px;
  margin-left: 128px;
  line-height: 100%;
  letter-spacing: 0.05em;
  margin-top: 39px;
}

.layout_title-en {
  color: #333333;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0.1em;
}

.layout_big-text-en {
  font-family: "Barlow Condensed", serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 128px;
  line-height: 100%;
  letter-spacing: 0.06em;
  font-size: 34px;
  margin-top: 8px;
}

.layout_text-en {
  padding: 0 24px;
  font-family: "Barlow Condensed", serif;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #333333;
  font-size: 18px;
}


.layout_title-ja {
  color: #333333;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
}

.layout_text-ja {
  color: #333333;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.05em;
}

/* 見出し、本文のスタイル設定ここまで */

/* モジュール設定 ボタン、タグ、アイコン、メディア */
/* ボタン */
.btn-en-01 {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding: 8px 16px;
  width: 86px;
  border-radius: 30px;
  background-color: #333333;
}

.btn-en-02 {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.btn-ja-01 {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding: 12px 40px;
  background: #333333;
  border-radius: 30px;
  display: inline-block;
}

/* #タグ */
.tag-mini {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: #E58FB3;
  border: #969696 1px solid;
  border-radius: 30px;
  padding: 4px 8px;
}

/* new-icon */
.new-icon {
  padding: 4px;
  background: #E58FB3;
  color: #FFFFFF;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.05em;
  width: 29px;
}
/* SNS-icon */
.SNS-icon-menu {
  display: flex;
  align-items: center;
  gap: 8px;
}
/*メディア  */
.media-01 {
  display: flex;
  justify-content: center;
  gap: 64px;
}

/* headerここから */

.header {
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 161px;
  position: relative;
}

.header-inner {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 96px;
  height: 161px;

}
.sitetitle {
  width: 150px;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 48px;
}



.header-icon li:last-child {
  padding-left: 64px;
}

.sub-visual-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 32px;
  margin-top: 158px;
}

/* メイン画像　positionでheaderに設定 */
.main-visual {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* 各セクションここから 
pickupitems セクション*/


.pickupitems-sec {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  margin-top: 96px;
}

.pickupitems-sec-content-01,
.pickupitems-sec-content-02 {
  width: 352px;
  height: 401px;
}

.pickupitems-sec-content-01 p {
  margin-top: 12px;

}

.pickupitems-sec-content-02 h2 {
  margin-top: 32px;
}

.pickupitems-sec-content-02 p {
  margin-top: 16px;
}

.pickupitems-sec-btn {
  margin: 0 0 0 auto;
}

/* about セクション */

.sec-title {
  margin-bottom: 48px;
  margin-top: 96px;
}





.about-sec-text {
  line-height: 200%;
}

/* 　journal セクション */
.image-container-02 {
  display: flex;
  gap: 32px;
}

.image-card {
  width: 256px;
}

.image-card li:first-child {
  position: relative;
}

.image-position {
  position: absolute;
  top: 0px;
  right: 0px;
}

.tag-group {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0 8px 0;

}

.image-card-title {
  margin-bottom: 8px;
}

.journal-sec-btn {
  text-align: center;
  margin-top: 48px;
}

/* footer ここから */
.footer-background {
  background: #eeeeee;
  margin-top: 96px;
}

.footer-outer {
  padding: 160px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}
.footer-menu {
  display: flex;
  align-items: center;
}
.footer-menu li {
  padding:0 24px;

}
.footer-content {
  display: flex;
  gap: 80px;
}
.copyright {
  margin-top: 16px;
}
